
@{
    ViewBag.Title = "ВНЖ и ПМЖ в Польше";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.kwords = "Оформление ВНЖ в Польше, ПМЖ в Польше недорого, Оформление ВНЖ в Киеве, пребывание в Польше ";
}


<!--Adobe Edge Runtime-->
<script type="text/javascript" charset="utf-8" src="edge_includes/edge.6.0.0.min.js"></script>
<style>
    .edgeLoad-EDGE-268858262 {
        visibility: hidden;
    }
</style>
<script>
    AdobeEdge.loadComposition('Show2', 'EDGE-268858262', {
        scaleToFit: "none",
        centerStage: "none",
        minW: "0px",
        maxW: "undefined",
        width: "600px",
        height: "170px"
    }, { "dom": {} }, { "dom": {} });
</script>
<!--Adobe Edge Runtime End-->


<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="container">
                <h3 class="ZagolovokColor">ВНЖ В ПОЛЬШЕ</h3>
                <img class="img-rounded img-index-preview" src="~/images/index/smallimg/kartaPMG.png" />
                <p>
                    Вид на жительство или разрешение на временное проживание – это документ, подтверждающий право на проживание, обучение, работу и ведение хозяйственной деятельности в Польше.
                </p>
                @Html.ActionLink("Подробнее", "VNGPoland", "Home", new { area = "" }, new { @class = "btn buttonBlue" })
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="container">
                <h3 class="ZagolovokColor">ПМЖ В ПОЛЬШЕ</h3>
                <img class="img-rounded img-index-preview" src="~/images/index/smallimg/kartaPMG2.png" />
                <p>
                    Разрешение на постоянное проживание в стране принято сокращенно называть «ПМЖ». Этот документ дает право жить и работать в Польше практически наравне с польскими гражданами.
                </p>
                @Html.ActionLink("Подробнее", "PMGPoland", "Home", new { area = "" }, new { @class = "btn buttonBlue" })
            </div>
        </div>
    </div>
    <div class="col-sm-4  ">
        <div class="container">
            <h3 class="ZagolovokColor"> НАШИ УСЛУГИ</h3>
            <ul class="sidemenu ">
                <li> профессиональные консультации на всех этапах процесса </li>
                <li> подготовку полного пакета документов</li>
                <li> сопровождение при подаче документов</li>
                <li> услуги юриста и переводчика</li>
                <li> регистрация фирм</li>
                <li> помощь в поступлении</li>
            </ul>
            @*@Html.ActionLink("Галерея", "", "Home", new { area = "" }, new { @class = "btn buttonBlue1" })*@
        </div>
        
    </div>
</div>

<div class="row hidden-xs" >
    <div class="col-sm-8">
        
        <div id="Stage" class="EDGE-268858262" style="margin:10px;">
        </div>
         
        @Html.ActionLink("Почему Польша?", "WhyPoland", "Home", new { area = "" }, new { @class = "btn buttonBlue" })
    </div>
    <div class="col-sm-4 hidden-sm">
        <div class="container hercontainer">
            <h3 class="ZagolovokColor">О ПОЛЬШЕ</h3>
            <div >
                <p>@Html.ActionLink("О польше", "AboutPoland", "Home", new { area = "" }, new { })</p>
                <p>@Html.ActionLink("Города Польши", "AboutPoland", "Home", null, null, "City", null, null) </p>
                <p>@Html.ActionLink("Национальная кухня", "AboutPoland", "Home", null, null, "Kuhny", null, null)</p>
                <p>@Html.ActionLink("Интересные факты", "AboutPoland", "Home", null, null, "Fakts", null, null)</p>
                <p>@Html.ActionLink("Валюта Польши", "AboutPoland", "Home", null, null, "Valuta", null, null)</p>
                

            </div> 
        </div>
       

        </div>
       
</div>
 





