<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="keywords" itemprop="keywords" content="@ViewBag.kwords" />
    <meta name="description" itemprop="description" content="ВНЖ и ПМЖ, работа и образование в Польше для Украинцев - оформление, получение, низкая цена 044-360-50-08">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Abel|Satisfy" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="MHeader ">

    </div>


    <div class="navbar  ">
        <div class="container MainMenu">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle bmenu " data-toggle="collapse" data-target=".navbar-collapse">
                    M
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                @Html.ActionLink("insidepoladn", "Index", "Home", new { area = "" }, new { @class = "BRAND" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { }) </li>
                    <li>@Html.ActionLink("О польше", "AboutPoland", "Home", new { area = "" }, new { }) </li>
                    <li>@Html.ActionLink("Образование", "EducationPoland", "Home", new { area = "" }, new { })</li>
                    <li>@Html.ActionLink("Работа", "WorkPoland", "Home", new { area = "" }, new { })</li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Иммиграция<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink(" Вид на жительство в Польше", "VNGPoland", "Home", new { area = "" }, new { }) </li>
                            <li>@Html.ActionLink(" Постоянное место жительства в Польше", "PMGPoland", "Home", new { area = "" }, new { }) </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(" Контакты", "Contacts", "Home", new { area = "" }, new { })</li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>*@
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <div class="MFooter ">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>ИММИГРАЦИЯ</h4>
                    <hr />
                    <ul class="style1">
                        <li class="first">@Html.ActionLink("Постоянное пребывание", "PMGPoland", "Home", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Временное пребывание", "VNGPoland", "Home", new { area = "" }, new { })</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>ОБРАЗОВАНИЕ</h4>
                    <hr />
                    <ul class="style1">
                        <li class="first">@Html.ActionLink("Учеба в ВУЗе", "EducationPoland", "Home", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Научная деятельность", "EducationPoland", "Home", null, null, "Nauka", null, null)</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>РАБОТА</h4>
                    <hr />
                    <ul class="style1">
                        <li class="first">@Html.ActionLink("Разрешение на работу", "WorkPoland", "Home", new { area = "" }, new { })</li>
                    <li>@Html.ActionLink("Предпринимательская деятельность", "WorkPoland", "Home", null, null, "Bisnes", null, null)</li>
                     </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <footer style="height:20px;text-align:center;margin-top:10px;">
            <p>ВСЕ ПРАВА ЗАЩИЩЕНЫ. ОФОРМЛЕНИЕ ВНЖ/ПМЖ В ПОЛЬШЕ. ОБРАЗОВАНИЕ. ПРЕДПРИНИМАТЕЛЬСТВО.</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>